{% extends 'front/base.html.twig' %}

{% block title %}Nos offres{% endblock %}

{% block body %}
    <a href="{{ path('app_listing_new') }}">Créer une annonce</a>

    <div class="container">
        <div class="d-flex justify-content-between">
            <h1 class="mt-3 mb-4">Toutes nos offres</h1>
        </div>
        <div class="navigation d-flex justify-content-center my-3">
        </div>
        <div class="row">
            {% for offer in listings %}
                <div class="col-lg-6 col-md-10 mb-2">
                    {% include 'front/partials/_offer.html.twig' %}
                </div>
            {% endfor %}
        </div>
        <div class="navigation d-flex justify-content-center mt-2">
            {{ knp_pagination_render(listings) }}
        </div>
    </div>

{% endblock %}
